
.btn{
    &,
    &:link,
     &:visited {
         text-transform: uppercase;
         text-decoration: none;
         padding: 1.5rem 4rem ;
         display:inline-block;
         border-radius: 10rem;
         transition: all 0.2s;
         position: relative;
         font-size: $default-font-size;

         /* Change for the <button> element */
         border:none;
         cursor: pointer;
    }

    &:hover{
      transform: translateY(-3px);
      box-shadow:0 1rem 2rem rgba($color-black,.2);
     
       &::after {  /* 'after' pseudo element only when we have the button in the hover state */
      transform: scaleX(1.4) scaleY(1.6); /*increase the size of the  element*/
      opacity: 0;   /*to fade out*/
     }

    }

    &:active,
    &:focus{
      outline: none;
      transform: translateY(-1px);  /*in relation to the initial state(not hover state)*/
      box-shadow:0 .5rem 1rem rgba($color-black,.2);
    }

    &--white {
      background-color: $color-white;
      color:$color-grey-dark;

      &::after{   /*.btn--white::after*/
      background-color: white;
      }
    }

     &--green {
      background-color: $color-primary;
      color:$color-white;

      &::after{   /*.btn--primary::after*/
      background-color: $color-primary;
      }
    }

    &::after{  /*we create a pseudo element*/
      content:"";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;  /* we want its reference to be .btn so we add position: relative; to .btn*/
      left: 0;
      z-index: -1; 
      transition: all .4s;
    }

    &--animated{
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
    } 

}

.btn-text{
  &:link,
  &:visited{
    font-size: 1.6rem;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;
  }

  &:hover{
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black,.15);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba($color-black,.15);
    transform: translateY(0);
  }

}