
@keyframes moveInLeft {
   0%{
   	opacity:0; 
   	transform: translateX(-10rem);  /* start from the left */
   }

   80%{
   	transform: translateX(1rem);  /*we want the animation to fist go on the right side*/
   }

   100%{
   	opacity:1;
   	transform: translate(0);

   }
}

@keyframes moveInRight {
   0%{
   	opacity:0;
   	transform: translateX(10rem);  /* start from the left */
   }

   80%{
   	transform: translateX(-1rem);  /*we want the animation to fist go on the left side*/

   }

   100%{
   	opacity:1;
   	transform: translate(0);

   }
}

@keyframes moveInBottom{
   0%{
   	opacity:0;
   	transform: translateY(3rem);
   }

   100%{
   	opacity:1;
   	transform: translate(0);

   }
}
